CONFIG_MACH_JACTIVE_ATT=y
CONFIG_MACH_JACTIVE=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-jactive_att.bin audience-es325-fw-jactive_att_rev02.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
# InsideSecure VPN Client
CONFIG_INSIDESECURE_VPNCLIENT=y
CONFIG_FB_MSM_MIPI_RENESAS_TFT_VIDEO_FULL_HD_PT_PANEL=y
CONFIG_DISPLAY_DISABLE_TEST_KEY=y
CONFIG_SUPPORT_SECOND_POWER=y
CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_SUPPORT_DISPLAY_OCTA_TFT=y
CONFIG_S5K3H5XA=y
CONFIG_S5K6B2YX=y
CONFIG_CAMERA_SW_I2C_ACT=y
CONFIG_IMX175_EEPROM=y
CONFIG_INSIDESECURE_VPNCLIENT=y
# CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_VIDEO_FULL_HD_PT_PANEL is not set
# CONFIG_LCD_VDD3_BY_PMGPIO is not set
# TSP
CONFIG_TOUCHSCREEN_SYNAPTICS_PREVENT_HSYNC_LEAKAGE=y
#
# HALL IC is not supported
CONFIG_SENSORS_HALL=n
