CONFIG_MACH_JF_EUR=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-cmcc.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y
CONFIG_TARGET_LOCALE_CHN=y
CONFIG_WLAN_REGION_CODE=300
CONFIG_MACH_JF_CMCC=y
CONFIG_MACH_JF_CMCCCSFB=y