CONFIG_MACH_JF_DCM=y
CONFIG_TARGET_LOCALE_JPN=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_IRDA_MC96=y
CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m

CONFIG_CAMERA_SW_I2C=y
CONFIG_CAMERA_USE_GSBI7=y

CONFIG_ISDBTMM=y
CONFIG_FELICA=y
CONFIG_NFC_FELICA=y
CONFIG_BCM2079X_NFC_I2C=n
CONFIG_MMC_CPRM=y
CONFIG_TMM_ANT_DET=y
CONFIG_TMM_CHG_CTRL=y

CONFIG_WLAN_REGION_CODE=400

#TmmSecure start
CONFIG_SECURITY_PATH=y
CONFIG_SECURITYFS=y
CONFIG_SECURITY_SEC=y
#TmmSecure end
