CONFIG_TARGET_LOCALE_KOR=y
CONFIG_MACH_JF_KTT=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-kor.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_IRDA_MC96=y
CONFIG_TDMB=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8050=y
CONFIG_TDMB_ANT_DET=y
CONFIG_WLAN_REGION_CODE=202
CONFIG_CAMERA_SW_I2C=y
CONFIG_CAMERA_USE_GSBI7=y
