CONFIG_TARGET_LOCALE_KOR=y
CONFIG_MACH_JF_SKT=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-kor.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_IRDA_MC96=y
CONFIG_TDMB=y
CONFIG_TDMB_SPI=y
CONFIG_TDMB_VENDOR_FCI=y
CONFIG_TDMB_FC8050=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_DEFAULT_BIC=y
CONFIG_DEFAULT_TCP_CONG="bic"
CONFIG_TDMB_ANT_DET=y
CONFIG_WLAN_REGION_CODE=201
CONFIG_XFRM=y
CONFIG_XFRM_USER=y
CONFIG_INET_IPCOMP=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_XCBC=y
CONFIG_CRYPTO_NULL=y
CONFIG_CRYPTO_MD5=y
CONFIG_CRYPTO_DES=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CAMERA_SW_I2C=y
CONFIG_CAMERA_USE_GSBI7=y
