CONFIG_MACH_JF_VZW=y
CONFIG_EXTRA_FIRMWARE="audience-es325-fw-vzw.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
# InsideSecure VPN Client
CONFIG_INSIDESECURE_VPNCLIENT=y
#VMWARE RELATED
CONFIG_VMWARE_MVP=y

