/arch/arm/boot/compressed/piggy.gzip
/scripts/basic/fixdep
/scripts/bin2c
/scripts/conmakehash
/scripts/genksyms/genksyms
/scripts/genksyms/keywords.hash.c
/scripts/genksyms/lex.lex.c
/scripts/genksyms/parse.tab.c
/scripts/genksyms/parse.tab.h
/scripts/kallsyms
/scripts/kconfig/conf
/scripts/kconfig/zconf.hash.c
/scripts/kconfig/zconf.lex.c
/scripts/kconfig/zconf.tab.c
/scripts/mod/elfconfig.h
/scripts/mod/mk_elfconfig
/scripts/mod/modpost
/scripts/selinux/genheaders/genheaders
/scripts/selinux/mdp/mdp
/security/selinux/av_permissions.h
/security/selinux/flask.h
/lib/crc32table.h
/lib/gen_crc32table
/firmware/audience-es325-fw-eur.bin.gen.S
/firmware/ssp.fw
/firmware/ssp.fw.gen.S
/firmware/ssp_crashed.fw
/firmware/ssp_crashed.fw.gen.S
/firmware/ssp_rev03.fw
/firmware/ssp_rev03.fw.gen.S
/firmware/tsp_atmel/mXT540S.fw
/firmware/tsp_atmel/mXT540S.fw.gen.S
/firmware/tsp_atmel/mXT540Si.fw
/firmware/tsp_atmel/mXT540Si.fw.gen.S
/firmware/tsp_synaptics/synaptics_a1.fw
/firmware/tsp_synaptics/synaptics_a1.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_3_4.fw
/firmware/tsp_synaptics/synaptics_b0_3_4.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_4_0.fw
/firmware/tsp_synaptics/synaptics_b0_4_0.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_4_3.fw
/firmware/tsp_synaptics/synaptics_b0_4_3.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_5_1.fw
/firmware/tsp_synaptics/synaptics_b0_5_1.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_5_1_fac.fw
/firmware/tsp_synaptics/synaptics_b0_5_1_fac.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_fac.fw
/firmware/tsp_synaptics/synaptics_b0_fac.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_13.fw
/firmware/tsp_synaptics/synaptics_b0_nep_13.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_14.fw
/firmware/tsp_synaptics/synaptics_b0_nep_14.fw.gen.S
/firmware/tsp_synaptics/synaptics_b0_nep_19.fw
/firmware/tsp_synaptics/synaptics_b0_nep_19.fw.gen.S
..*
...*
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
.*.cmd
*.builtin
*.order
/arch/arm/kernel/vmlinux.lds
/boot.img.pre
/arch/arm/boot/Image
/arch/arm/boot/*.gz
/arch/arm/boot/compressed/vmlinux
/arch/arm/boot/zImage
/arch/arm64/boot/Image
/arch/arm64/boot/*.gz
/arch/arm64/boot/*gz-dtb
/arch/arm64/boot/compressed/vmlinux
/arch/arm64/boot/zImage
/usr/gen_init_cpio
/usr/initramfs_data.cpio
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
!.gitignore
!.mailmap
include/config
include/linux/version.h
include/generated
arch/*/include/generated
kernel/config_data.h
kernel/relocate_kernel_64.S
drivers/tty/vt/defkeymap.c
drivers/tty/vt/consolemap_deftbl.c
kernel/timeconst.h
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
\#*#
/arch/arm/boot/compressed/ashldi3.S
/arch/arm/boot/compressed/lib1funcs.S
/arch/arm/boot/compressed/vmlinux.lds
/arch/arm/boot/dt.img
/arch/arm/boot/zImage-dtb
/arch/arm64/boot/compressed/ashldi3.S
/arch/arm64/boot/compressed/lib1funcs.S
/arch/arm64/boot/compressed/vmlinux.lds
/arch/arm64/boot/dt.img
/arch/arm64/boot/Image-dtb
/scripts/dtc/dtc
/scripts/dtc/dtc-lexer.lex.c
/scripts/dtc/dtc-parser.tab.c
/scripts/dtc/dtc-parser.tab.h
/tools/dt.img
/build_image/output/*.zip
/build_image/output/*.tar
/build_image/zip_files/*.zip
/build_image/zip_files/*.tar
/build_image/zip_files/*.img
/build_image/zip_files/hybridmax/*.zip
/build_image/zip_files/hybridmax/*.tar
/build_image/zip_files/hybridmax/*.img
/build_image/*.gz
/build_image/*.img
/build_image/Image
/build_image/*/Image
/build_image/*/kernel
/build_image/*/*.img
/build_image/*/*.gz
/build_image/zip_files/system/lib/modules/*
/build.log
/repack.log
/fips_fmp_utils
/fmp_hmac.bin
/BUILD_OUTPUT
kernel/hz.bc
