#
# ISDB-TMM tuner driver
#

config ISDBTMM
	bool "ISDB-TMM tuner"
	default n
	---help---
	  Enable the ISDB-TMM tuner driver for mmbi/DTV

config TMM_ANT_DET
	depends on ISDBTMM
	bool "TMM antenna detector"

config TMM_CHG_CTRL
	depends on ISDBTMM
	bool "TMM charging input current reduce"

